<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brilliantapp.brilliantandroidtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.brilliant.sdk.ApplicationId" android:value="uE3OsX7v9FW7fgtPppuHSl8fGTlIdKFlq2-C9uTELnUTo__2iRjbPNVyhOg9jhU-f6pdr4wsOblmEYT8vBUIKA"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>